@font-face {
    font-family: RobotoRegular;
    src: url("../font/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
    font-family: ArchivoBlack;
    src: url("../font/Archivo/Archivo-Black.ttf") format("truetype");
}
@font-face {
    font-family: Vazir;
    src: url("../font/fa/vazir/woff/Vazir.woff") format("woff");
}

*{
    margin: 0;
    padding: 0;
    font-family: RobotoRegular;
    box-sizing: border-box;
    /* Light Mode */
    --Turquoise_Blue: #40E0D0;
    --Soft_Gold: #D4AF37;
    --White: #FFFFFF;
    --Light_Gray: #F5F5F5;
    --Dark_Gray: #333333;
    /* Dark Mode */
    --Black: #1A1A1A;
    --D_Turquoise_Blue: #30C9C4;
    --Metallic_Gold: #CBA135;
    --D_Light_Gray: #E5E5E5;
    --Medium_Gray: #666666;
}
body{
    background-color: var(--Light_Gray);
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 
======================================
                Header
======================================
*/
.nav{
    background-color: var(--Turquoise_Blue);
}
.nav__list{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.nav__item{
    display: inline-block;
}
.nav__item--link{
    color: var(--White);
    display: inline-block;
    width: 120px;
    height: 50px;
    padding: 15px 20px;
    text-align: center;
}
.nav__item--link:hover{
    background-color: var(--Light_Gray);
    color: var(--Soft_Gold);
    transition: 250ms;
    -webkit-transition: 250ms;
    -moz-transition: 250ms;
    -ms-transition: 250ms;
    -o-transition: 250ms;
}
/* -------------------------------------- */
.header_title{
    font-size: 50px;
    margin-top: 10rem;
    margin-bottom: 10px;
    color: var(--Turquoise_Blue);
}
.important{
    margin-right: 15px;
    color: var(--Soft_Gold);
}
.header_comment{
    margin-bottom: 10rem;
}
/* 
====================================
                Main
====================================
*/
.work-section{
    padding: 2rem 0;
    border-top: 2px solid var(--Soft_Gold);
}
.work-list{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px 10px;
    justify-content: center;
}
.wrok-list__item{
    width: 200px;
    height: 350px;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.wrok-list__item:hover{
    width: 250px;
    height: 400px;
    transition: 250ms;
    -webkit-transition: 250ms;
    -moz-transition: 250ms;
    -ms-transition: 250ms;
    -o-transition: 250ms;
}
.wrok-list__item{
    transition: 250ms;
    -webkit-transition: 250ms;
    -moz-transition: 250ms;
    -ms-transition: 250ms;
    -o-transition: 250ms;
}
.wrok-list__item--image{
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.wrok-list__item--name{
    margin: 20px 0;
    padding-top: 10px;
    border-top: 1px solid var(--Soft_Gold);
}
.wrok-list__item--descrip{}
/* -------------------------------------- */
.about{
    height: 90vh;
    border-top: 3px solid var(--Soft_Gold);
    background-image: url("../img/22920.jpg");
    background-size: cover;
    background-position: center;
}
.circle{
    width: 400px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    padding: 40px;
    border: 2px solid var(--Soft_Gold);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.about__text{
    color: var(--Turquoise_Blue);
    margin: auto;
}
/* 
====================================
                footer
====================================
*/
footer{
    border-top: 1px solid var(--Soft_Gold);
    display: grid;
    grid-template-columns: 2 1;
    height: 20vh;
}
.Contact_us{
    background-color: var(--Black);
    height: 100%;
}
.icon{
    color: var(--Soft_Gold);
}